*.zip
*.o
*.so
./esp32/passwords.h
/assets/
/thumbnail/
fp-info-cache
/games
__pycache__
/tibasic
/out.txb
*.var
*.bmp
gpt\.png
*.csv
!/test-images/*
/cache/
!blank.bmpesp32/secrets.h
.DS_Store
server/.env
*.var
esp32/build/
